<div class="seriesContext">
  {% assign sections = site.data.sidebars.rdbms_sidebar.entries[0].folders %}
  {% assign pages = [] %}
  {% for section in sections %}
    {% assign section_pages = section.folderitems %}
    {% assign pages = pages | concat: section_pages %}
  {% endfor %}

  {% for pg in pages %}
    {% if pg.url == page.url %}
      {% assign position = forloop.index0 %}
      {% break %}
    {% endif %}
  {% endfor %}
  {% assign previous_position = position | minus: 1 %}
  {% assign previous_page = pages[previous_position] %}

  {% if previous_page %}
    <a href="{{previous_page.url | remove: '/'}}"><button type="button" class="btn btn-primary">Previous: {{previous_page.title}}</button></a>
  {% endif %}
</div>
