<div class="seriesContext">
  {% assign sections = site.data.sidebars.nosql_sidebar.entries[0].folders %}
  {% assign pages = [] %}
  {% for section in sections %}
    {% assign section_pages = section.folderitems %}
    {% assign pages = pages | concat: section_pages %}
  {% endfor %}

  {% for pg in pages %}
    {% if pg.url == page.url %}
      {% assign position = forloop.index0 %}
      {% break %}
    {% endif %}
  {% endfor %}
  {% assign next_position = position | plus: 1 %}
  {% assign next_page = pages[next_position] %}

  {% if next_page %}
    <a href="{{next_page.url | remove: '/'}}"><button type="button" class="btn btn-primary">Next: {{next_page.title}}</button></a>
  {% endif %}
</div>
